/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

// Imports ---------------------------------------------------------------------
//@import './../../../styles/_palette.scss';


/*******************************************************************************
* Default |
*********/


// Variables -------------------------------------------------------------------
  $background-opacity: 0;
//------------------------------------------------------------------------------


.control {
  //$outpost: -60px;
  // TODO: Find the correct element thats setting this to green
  background-color: #757575;
  height: 180px;
  width: 350px;
  //position: absolute;
  //bottom: $outpost;
  //right: $outpost;
  border-radius: inherit;
  position: relative;
  display: block;
  //padding: 10px;
  //z-index: 1;
}

.control_-_progress {
  // background-color: #212121;
  position: absolute;
  bottom: 0;
  left: 0;
  //height: auto;
  padding: 10px;
  //display: block;
}

.control_-_progress h4 {
  // background-color: white;
  display: inline;
  padding: 0 5px;
}

.control_-_progress_--_progress-bar {
  background-color: #fafafa;
  display: inline-block;
  margin: 5px;
}

.control_-_navigation {
  background-color: rgba(red, $background-opacity);
  // text-align: right;
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 5px;
  // bottom: 0;
}

.control_-_navigation_--_next {
  background-color: rgba(grey, $background-opacity);
}

.control_-_navigation_--_next,
.control_-_navigation_--_previous {
  // padding: 10px 0;
  // padding: 0;
  margin: 0;
  width: auto;
  // color: #212121;
  // display: inline;
}

.control_-_navigation_--_next--icon,
.control_-_navigation_--_previous--icon {
  // color: red;
  cursor: pointer;
  padding: 5px 0;
  color: #fafafa;
}




// Animation ----------------------------------------------------------------------

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

.control_-_navigation_--_next--icon:hover,
.control_-_navigation_--_previous--icon:hover {
  color: black;
  // background-color: rgba(#fafafa,1);
}

// Layouts ---------------------------------------------------------------------

// Media Sizes -----------------------------------------------------------------


/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}

