/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

// Imports ---------------------------------------------------------------------
//@import './../../../styles/_palette.scss';


/*******************************************************************************
* Default |
*********/

.control {
  //$outpost: -60px;

  background-color: rgba(red, 0.5);
  height: 180px;
  width: 350px;
  //position: absolute;
  //bottom: $outpost;
  //right: $outpost;
  border-radius: inherit;
  position: relative;
  display: block;
  //padding: 10px;
  //z-index: 1;
}

.control_-_progress {
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 0;
  //height: auto;
  padding: 10px;
  //display: block;
}

.control_-_progress h4 {
  background-color: grey;
  display: inline;
  padding: 0 5px;
}

.control_-_progress_--_progress-bar {
  background-color: orange;
  display: inline-block;
  margin: 5px;
}





// Animation ----------------------------------------------------------------------

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

// Layouts ---------------------------------------------------------------------

// Media Sizes -----------------------------------------------------------------


/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}

