/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

// Imports ---------------------------------------------------------------------
@import './../../../styles/_palette.scss';


/*******************************************************************************
* Default |
*********/

.header {
  //background-color: blue;
  padding: 10px;
  overflow-x: hidden;
  //height: 10vh;
}

.header_-_logo {
  //background-color: red;
  display: inline-block;

  img {
    width: 100%;
    max-width: 80px;
    height: auto;
  }
}

.header_-_nav {
  //background-color: green;
  //display: inline-block;
  //line-height: 3rem;
  //padding-top: 0.1rem;
  //padding-right: 0.5rem;
  //padding: 0.5rem;
  float: right;
  //width: 80%;
}

.header_-_nav_--_list {
  //background-color: blue;
  display: inline-block;
  //margin-top: 1rem;
  //padding-top: 1rem;
  //padding: 0;
  //margin: 0;
  //line-height: 0;
  //padding: 0 !important;
  //margin-top: -10px !important;
}

.header_-_nav_--_hamburger {
  height: 100%;
  position: relative;
  background-color: #212121;
  //background-color: red;
  display: inline-block;
  padding: 8px;
  float: right;
  //margin-top: -10px;
  //margin-top: 0.5rem;

  // Purpose of after pseudo selector is to cover the slide in view of the nav
  &::after {
    content: '';
    position: absolute;
    top: 0;
    //left: 0;
    height: inherit;
    width: 100%;
    background-color: inherit;
  }
}

.header_-_nav_--_hamburger--burger {
  //padding-top: 1rem !important;

  // Overriding Hamburger mid bar to push right 50%
  span::before {
    right: -50%;
  }
}

// Special Classes -------------------------------------------------------------
.header--void {
  display: inline-block;
  //background-color: yellow;
}

// Animation ----------------------------------------------------------------------

.header_-_nav_--_hamburger--burger,
.header_-_nav_--_hamburger--burger:hover {
  // Overriding Hamburger mid bar to push right 50%
  span::before {
    transition: all 0.1s ease-in-out;
  }
}

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

.header_-_nav_--_hamburger--burger:hover {
  // Overriding Hamburger mid bar to push right 50%
  span::before {
    right: 0;
  }
}

// Layouts ---------------------------------------------------------------------

// Media Sizes -----------------------------------------------------------------


/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}

