/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

// Imports ---------------------------------------------------------------------
//@import './../../../styles/_palette.scss';


/*******************************************************************************
* Default |
*********/

.section-nav {
  background-color: green;
  max-height: 350px;
  height: inherit;
  width: 100px;
  display: block;
  position: relative;
  padding: 5px 0;
}

.section-nav_-_active {
  background-color: yellow;
  height: 100%;
  padding: 5px 0;
  display: block;
  position: relative;
}

.section-nav_-_active_--_scroll {
  background-color: pink;
  width: 100%;
  padding: 5px 0;
  height: 100%;
  position: relative;
  display: inline-block;


  // display: flex;
  // flex-direction: column;
  // justify-content: right;
  // height: 500px;
}

// .section-nav_--_scroll_---_line {
//   background-color: gray;
//   width: 100%;
//   height: 3px;
//   border-radius: 3px;
//   margin: 3px 0;
// }

// .section-nav [id^="line"] {
//   background-color: #000;
//   width: 50%;
//   height: 2px;
//   margin: 10px 0;
//   display: block;
//   float: right;
//   // float: right;
//   // position
//   // float: right;
//   // display: block;
//   // position: absolute;

//   h3 {
//     display: none;
//   }
// }

.section-nav [id^="line"] {
  background-color: #000;
  width: 50%;
  height: 2px;
  // margin: 10px 0;
  display: inline-block;
  position: absolute;

  h3 {
    display: none;
  }
}

@for $i from 1 through 10 {
  .section-nav [id^="line"]:nth-child(#{$i}) {
    background-color: red;
    top: $i * 20px;
    right: 0;
  }
}

// Special Classes -------------------------------------------------------------
.line-active {

}

.hide-section-header {
  display: none;
}
// Animation -------------------------------------------------------------------

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

// Layouts ---------------------------------------------------------------------

// Media Sizes -----------------------------------------------------------------


/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}

