/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

// Imports ---------------------------------------------------------------------
//@import './../../../styles/_palette.scss';


/*******************************************************************************
* Default |
*********/

.progress-bar {
  background-color:yellow;
  display: block;
  position: relative;
  height: 5px;
  min-width: 100px;
  width: 200px;
}

.progress-bar_-_bar {
  background-color: red;
  width: inherit;
  height: inherit;
  //width: 50%;
}





// Animation ----------------------------------------------------------------------

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

// Layouts ---------------------------------------------------------------------

// Media Sizes -----------------------------------------------------------------


/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}

