

//html, body {
//  height: 100vh;
//  margin: 0;
//}


// Takes off hyper link and border from inputs and a tags
*,
*:focus,
*:active {
  outline: none !important;
  border: none;
}

a,
a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

