
@import 'themes/theme-1';

$palette-white-light: $theme-white-light;
$palette-white-base: $theme-white-base;
$palette-white-dark: $theme-white-dark;

$palette-black-light: $theme-black-light;
$palette-black-base: $theme-black-base;
$palette-black-dark: $theme-black-dark;

$palette-blue-light: $theme-blue-light;
$palette-blue-base: $theme-blue-base;
$palette-blue-dark: $theme-blue-dark;
