/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

// Imports ---------------------------------------------------------------------
@import './../../../styles/_palette.scss';


/*******************************************************************************
* Default |
*********/

.project {
  color: white;
  background-color: green;
  min-height: 600px;
  height: inherit;
  width: inherit;
  display: block;
  position: relative;
}

.project_-_description,
.project_-_languages,
.project_-_technologies,
.project_-_tools {
  //position: absolute;
  //width: 40%;

  h4 {
    position: relative;
  }

  //h4::after {
  //  content: '';
  //  position: absolute;
  //  height: 2px;
  //  width: 100%;
  //  background-color: yellow;
  //  bottom: 0;
  //  left: 0;
  //}
}

.project_-_description {
  background-color: black;
  //display: inline-block;
  //position: absolute;
  //top: 0;
  //left: 0;
  //width: 30%;
}

//.project_-_description h4 {
//  background-color: blue;
//  position: relative;
//
//  &::after {
//    content: '';
//    position: absolute;
//    height: 2px;
//    width: 100%;
//    background-color: yellow;
//    bottom: 0;
//    left: 0;
//  }
//}

.project_-_languages {
  background-color: red;
  //top: 0;
  //right: 0;
  //text-align: left;
  //color: white;

  //h6:nth-child(3) {
  //  position: relative;
  //  right:0;
  //}
}

.project_-_technologies {
  background-color: orange;
  bottom: 0;
  left: 0;
}

.project_-_tools {
  background-color: gray;
  bottom: 0;
  right: 0;
  text-align: right;
}

.project_-_languages_--_container,
.project_-_technologies_--_container,
.project_-_tools_--_container {
  //columns: 2 auto;
  //columns: 2;
  column-fill: balance;
  column-count: 2;
  column-span: all;
  //column-gap: 40px;
  //column-rule: 1px solid lightblue;
  //display: flex;
  //flex-direction: row-reverse;
}

.project_-_carousel {
  background-color: #0c5460;
  //position: absolute;
  //top: 20%;
  //left: 0;
  //right: 0;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50% -50%);
  //display: inline-block;
  //right: 0;
  margin: 0 auto;
  height: 60%;
  width: 80%;
}


.project {
  .col-4 {background-color: orange;}
  .col-8 {background-color: green;}
}



// Animation ----------------------------------------------------------------------

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

// Layouts ---------------------------------------------------------------------

// Media Sizes -----------------------------------------------------------------


/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}

