/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

// Imports ---------------------------------------------------------------------
// @import './../styles/_palette.scss';
@import '../styles/palette';


/*******************************************************************************
* Default |
*********/

html {
  scroll-behavior: smooth;
}

body {
  // transition: background 1s ease !important;
  // background: #3498db;
}

.App {
  display: block;
  position: relative;
  // background-color: navy;
  //padding: 15px;

  //&::before {
  //  content: '';
  //  position: absolute;
  //  background-color: red;
  //  height: 100%;
  //  width: 100%;
  //  margin: 5px;
  //  //margin: 15px;
  //  display: inline-block;
  //  //z-index: 10;
  //}
}

.app_-_main {
  display: block;
}

.app_-_main_--_section {
  margin: 150px 0;
  // background-color: blue;
  height: auto;
  width: inherit;
  //padding: 150px 0;
}

.app_-_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


// Special Classes -------------------------------------------------------------
.icon-detail {
  // background-color: lime;
  padding: 10px;
  width: 100px;
  //display: inline-block;
  text-align: center;
}

.icon-detail_-_icon {
  height: 2rem;
}

.icon-detail_-_icon img {
  //width: 100%;
  height: inherit;
  color: white;

  // This turns the icon white
  filter: invert(100%) sepia(2%) saturate(77%) hue-rotate(23deg) brightness(115%) contrast(100%);
  //padding: 0;
  //margin: 0;
  //display: inline;
  //position: relative;
  //line-height: 0;

}

// Animation -------------------------------------------------------------------

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

// Layouts ---------------------------------------------------------------------

// Media Sizes -----------------------------------------------------------------


/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}

