/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

// Imports ---------------------------------------------------------------------
//@import './../../../styles/_palette.scss';


/*******************************************************************************
* Default |
*********/

.project-carousel {
  display: block;
  position: relative;
  background-color: blue;
  height: 100%;
  width: 100%;
  //z-index: 10;
}

.project-carousel_-_media {
  //background-color: gray;
  //display: inline-block;
  //float: left;
  height: 90%;
  width: 100%;
  //min-width:30%;
  //width: auto;
  border-radius: 17px;
  //padding: 15px;

  //text-align: center;
  position: relative;
  //top: 0;
  //left: 0;
  //right: 0;
  margin: 0 auto;

  //top: 50%;
  //left: 50%;
  //transform: translate(-50% -50%);
  //z-index: 10;
}

.project-carousel_-_media img {
  height: 100%;
  //width: 100%;
  position: relative;
  object-fit: cover;
  border-radius: inherit;
  //display: block;
  //display: inline-block;
  //background-color: red;
  z-index: 10;
}

.project-carousel_-_media_--_control {
  $outpost: -50px;

  background-color: red;
  height: 180px;
  width: 350px;
  position: absolute;
  bottom: $outpost;
  right: $outpost;
  border-radius: inherit;
  z-index: 1;
}

//.project-carousel_-_media_--_nav {
//  background-color: red;
//}
//
//.project-carousel_-_nav {
//
//}




// Animation ----------------------------------------------------------------------

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

// Layouts ---------------------------------------------------------------------

// Media Sizes -----------------------------------------------------------------


/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}

