/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

// Imports ---------------------------------------------------------------------
// @import './../../../styles/_palette.scss';
@import '../../../../styles/palette';


/*******************************************************************************
* Default |
*********/

//.test-home-base{
//  //background-color: green;
//  position: fixed;
//  width: 100%;
//  height: 90%;
//  //padding: 0;
//  //margin: 0;
//  //top: 10%;
//  //left: 0;
//  //right: 0;
//  display: block;
//  //top:0;
//}

.test-home {
  background-color: gray;
  //position: relative;
  //width: fit-content;
  /* To adjust the height as well */
  //height: fit-content;
  //min-height: 90%;
  padding: 50px 0;
  //height: 100%;
  //top: 10%;
  //right: 0;
  //bottom: 0;
  //left: 0;
  //position: fixed;
  //width: 100%;
  //background-size: cover;
  //position: absolute;
  //min-height: 90vh;
  //height: auto;
  width: 100%;
  position: relative;
  display: block;
  min-height: 700px;
  //height: 800px;
  //max-height: 800px;
  //top: 10%;
  //display: block !important;
  //position: relative;
  //width: 100vw;
  //height: calc(100vw * (9/16));
  //height: calc(100vh - 3rem);
  //width: 100vw;
}

.test-home_-_social-links {
  //background-color: green;
  position: absolute;
  bottom: 0;
  //left: -35px;
  //padding-top: 2rem;
  //margin: 0;
  //height: 10%;
  //display: inline-block;
  //width: 10%;
}

.test-home_-_intro-about {
  //display: inline-block;
  background-color: green;
  height: 200px;
  width: 100px;
  padding-top: 5rem;
  color: white;
}

.test-home_-_circle-menu {
  //background-color: green;
  //margin-top: 8%;
  //height: auto;
  //width: 100%;
  //display: inline-block;
  //position: absolute;
  //top: 50%;
  //transform: translateY(-50%);
  //margin: 0 auto;
  //$position: 10%;
  //$neg-position: -$position;
  //top: $position;
  //left: $position;
  //transform: translate($neg-position $neg-position);
  //right: 0;
  //margin: 0 auto;
  //width: inherit;
  //top: 25%;
  //left: 25%;
  //transform: translate(-25% -25%);
}

.test-home_-_scroll {
  //background-color: blue;
  height: 30px;
  //width: ;
  //margin: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
}

.test-home_-_scroll_--_bar {
  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 30%;
    background-color: $palette-shady-white;
    border-radius: 5px;
    top: 50%;
  }

  &::before {
    left: 10%;
  }

  &::after {
    right: 10%;
  }
}

.test-home_-_scroll_--_bar-mouse {
  //background-color: blue;
  height: 30px;
  width: 18px;
  margin: 0 auto;
  border: 2px solid $palette-shady-white;
  border-radius: 8px;
  //display: block;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    height: inherit;
    width: inherit;
    //background-color: $palette-shady-white;
    top: -2px;
    left: -2px;
    //padding: 0;
    //margin: 0;
    //margin: 0 auto;
    border: 2px solid $palette-shady-white;
    //border: 2px solid red;
    border-radius: 8px;
    animation: pulse 2s ease infinite;
    z-index: 0;
  }

  &::after {
    height: 5px;
    width: 2px;
    border-radius: 1px;
    bottom: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $palette-shady-white;
  }
}


.app_-_main_--_section {
  background-color: green;
  height: 100vh;
}


// Animation -------------------------------------------------------------------

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

// Layouts ---------------------------------------------------------------------

// Media Sizes -----------------------------------------------------------------


/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}

