
// Theme 1

$theme-white-light: none;
$theme-white-base: #fff;
$theme-white-dark: #eee;

$theme-black-light: none;
$theme-black-base: #212121;
$theme-black-dark: none;

$theme-blue-light: none;
$theme-blue-base: #0091ea;
$theme-blue-dark: none;
